/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    /* top: 51px; */
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    /* padding: 20px; */
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #EA098E;
    /* border-right: 1px solid #eee; */
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #707070;
  background-color: #fff;
}


/*
 * Main content
 */

.main {
  background-color:#fff;
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.container {
  margin-top: 1%;
}

.middleblock{
  background-color: #CD2588;
}

.buttonblock{
  /* background-color: #01B3E3; */
  padding: 10% 30%;
  text-align: center;
}

.buttonblock{
 border:1px solid #404040; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:14px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #303030; background-image: -webkit-gradient(linear, left top, left bottom, from(#33011F), to(#303030));
 background-image: -webkit-linear-gradient(left, #33011F, #303030);
 background-image: -moz-linear-gradient(left, #33011F, #303030);
 background-image: -ms-linear-gradient(left, #33011F, #303030);
 background-image: -o-linear-gradient(left, #33011F, #303030);
 background-image: linear-gradient(to right, #33011F, #303030);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.buttonblock:hover{
 border:1px solid #404040;
 background-color: #606060; background-image: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#303030));
 background-image: -webkit-linear-gradient(left, #606060, #303030);
 background-image: -moz-linear-gradient(left, #606060, #303030);
 background-image: -ms-linear-gradient(left, #606060, #303030);
 background-image: -o-linear-gradient(left, #606060, #303030);
 background-image: linear-gradient(to right, #606060, #303030);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

.bottomblock{
  background-color: #AF076A;
}

.topblock, .middleblock, .bottomblock{
  color:#fff;
  /* margin: 0px; */
}

.user-info{
  /* margin-top: -30px; */
  margin-left: 20%;
  margin-top: 6%;
}

.bill-info{
  /* margin-top: -30px; */
  margin-left: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.space{
  height:10px;
  width: 100%;
}

.inner-level{
  /* margin-top: -30px; */
  margin-left: 18%;
}

.important-1, .important-2 {
  margin: 3px;
  font-weight:normal;
}

.section-icon {
  float:left;
  margin-top: 4%;
  margin-left: 6%;
}

.fs1 {
  color:rgba(255,255,255,0.7);
	font-size: 2em;
}

.fs2 {
  color:rgba(255,255,255,0.7);
  font-size: 3em;
}

#number {
  background:#EE40A7;
}

#plan {
  background:#F15BB3;
}

#due {
  background:#B6076E;
}

#voice {
  background:#9C065E;
}

#messaging {
  background:#83054E;
}

#data {
  background:#9C065E;
}

.value, .unit {
  float: right;
  /* margin-left: 3%; */
  margin-right: 5%;
}

.value {
  font-weight: bold;
}

.summary-section{
  margin-left:5%;
  margin-right:5%;
}

.placeholder-sec{
  background: #E1E1E1;
  /* margin-right: 10px; */
  height: 192px;
  /* margin-top:20px; */
}

.calendar {
  background-color: #EA098E;
  color: #fff;
  text-align: center;
}

.calendar-tab{
  /* vertical-align:text-top; */
  height:40px;
  position: relative;
}

.month{
    color: rgba(255,255,255, 0.5);
    position: absolute;
    bottom: 0%;
    left: 20%;
    /* height: 30%; */
    /* width: 50%; */
    /* margin: -15% 0 0 -25%; */
}

.current{
  color: rgba(255,255,255, 1);
}

.fs2{
  position: absolute;
  left: 20%;
  bottom: -30%;
}
